@model TaskProject.Models.User


<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <div class="card-title"><h4>Add User</h4></div>
            </div>
            <div class="card-body">
                @*<form id="myform" enctype="multipart/form-data">*@
                    <form asp-action="Create" asp-controller="User" method="post">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="Name" class="form-control" asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label>ZipCode</label>
                        <input type="text" class="form-control" id="txtZipName" name="Zipcode" />
                        <input type="hidden" id="hfzip" name="Zipcode" asp-for="Zipcode" />
                    </div>
                    <div class="form-group">
                        <label>City Name</label>
                        <input type="text" class="form-control" id="txtCityName" name="CityName" />
                        <input type="hidden" id="hfCity" name="CityName" asp-for="CityName" />
                    </div>
                    <div class="form-group">
                        <button id="sumbit" class="btn btn-success btn-block" onclick="Add();" type="submit">Submit</button>
                        @*<button id="sumbit" class="btn btn-success btn-block" onclick="Add();" type="submit">Submit</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

       

        $(function () {
          
            $("#txtCityName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '../User/AutoComplete',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCity").val(i.item.val);
                },
                minLength: 1
            });
        });



        $(function () {
            $("#txtZipName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '../User/AutoZipComplete',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfzip").val(i.item.val);
                },
                minLength: 1
            });
        });



        //$(document).ready(function () {
        //    $('#myform').DataTable();
        //});


        //function Add() {
        //    debugger;

        //    ID = $('#ID').val();
        //    Name = $("#Name").val();
        //    Zipcode = $("#txtZipName").val();
        //    CityName = $("#txtCityName").val();


        //    $.ajax({
        //        type: "POST",
        //        url: '../User/Create',
        //        data: {
        //            "ID": ID,
        //            "Name": Name,
        //            "ZipCode": Zipcode,
        //            "CityName": CityName

        //        },
        //        success: function (response) {
        //        }
        //    });

        //}


    </script>
}